:root {
    --dark-blue: #4A4D6D;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #696E9E;
    width: 100vw;
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
    width: 100%;
    display: block;
}

.nav {
    background-color: var(--dark-blue);
    overflow: hidden;
    height: 45px;
}

.btn {
    float: right;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.4rem;
    margin: 0.3rem 1rem;
    font-size: 1rem;
}

.btn:hover {
    cursor: pointer;
}

.nav aside {
    position: fixed;
    height: 100vh;
    width: 250px;
    top: 45px;
    right: -250px;
    background-color: #34B399;
    transition: right 300ms ease;
}

.nav li {
    margin: 1.5rem 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
}

.btn:focus+aside,
aside:hover {
    right: 0;
}